body {
  text-align: center;
}

.sinInfo {
  color: red;
}

.conInfo {
  color: black;
}

.resaltar {
  font-style: italic; 
}

.contenedorDeFormulario {
  display: block;
}

.formulario {
  text-align: center;
}

footer {
  text-align: left;
}